*{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'poppins', sans-serif;
    
}

nav{
    height: 80px;
    height: 80px;
    display: flex;
    padding: 20px 36px;
    box-shadow: 0px 2.98256px 7.4564px rgba(0,0,0,0.1);
}
.gray{
    color: #918E9B;
}
.nav--logo{
    max-width: 100px;
}
.bold{
    font-weight: bold;
}
section{
    padding: 20px;
}
.hero{
display: flex;
flex-direction: column;
}
.hero-img{
    max-width: 400px;
    align-self: center;
}
.hero-header{
    margin-bottom: 16px;
}
.hero-text{
    margin-top: 0;
}
.hero-center{
  text-align: center;
}

.card{
    width: 170px;
    font-size: 12px;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
   padding: 20px;
    position: relative;
}
.cards-list{
display: flex;
align-items: center;
margin: auto;
justify-content: center;
justify-content:space-evenly;


}
.card-price{
    margin-top: auto;
}
.card--img{ 
    width: 150%;
    height: 15rem;
    border-radius: 9px;
    margin-bottom: 9px;
}
.card--title{
    overflow: hidden;
    text-overflow: ellipsis;
}
.card--stats{
display: flex;
align-items: center;
}
.card-star{
    height: 14px;
}

.card--badge{
    position: absolute;
    top: 6px;
    left: 6px;
    background-color: white;
    padding: 5px 7px;
    border-radius: 2px;
    font-weight: bold;
}